@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,700;1,500;1,700&family=Orbitron:wght@600&display=swap');

/* Main HTML transition part */
h1,h2,p{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

/* h2 is only used for chronometer */
h3{
    font-size: 600;
    font-family: "Orbitron", sans-serif;
    color: fuchsia;
}
footer{
    display: inline-block;
    flex-direction: row;
}

.credits{
    float: right;
    align-self: flex-end;

}
.credits p{
    justify-self: end;
    font-size: 5px;
    padding: 10px;
    color: gray;
}

audio{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 55px;
    top:810px;
}
a{
    color: gray;
}

h1{
    font-size: 1.5em;
    font-weight:700;
    color: white;
    margin: 0;
}
p,label,input{
    font-size: 1.25em;
    color: white;
    margin: 0;
}

input{
    background-color: transparent;
    border: 0;
}

body {
    background-color: rgba(0, 128, 60, 0.632);
}

.dialog{
    width: 504px;
    height: 504px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    position: absolute;
    top: 197px;
    background-color:transparent;
}

.dialog h1{
    padding: 30px;
}

input.largerCheckbox {
    width: 20px;
    height: 20px;
}

.annoncement{
    font-weight: 900;
}
   

.win{
    color: green;
}

.lose{
    color:red;
}

#main {
    border-radius: 15px;
    margin: 50px;
    background-image: url("../images/background1.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    max-width: 1350px;
}


#entries {
    margin: 150px 50px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.imgContainers{
    height: 300px;
    width: 300px;
    background-color: rgba(145, 224, 191, 0.309);
    border-radius: 150px;
    overflow: hidden;
    object-fit: cover;
}

.gameEntry{
    height: auto;
    width: inherit;
    background-size: cover;
    background-position: center;
    padding: 0;
}

input {
    opacity: 50%;
}

input:hover {
    opacity: 1;
    
}

#instagram {
    padding: 10px 50px;
}

img {
    object-fit: cover;
    height: auto;
    max-width: 100%;
}


.games{
    display: flex;
    justify-content:space-around;
}
.gameDiv {
    display: flex;
    justify-content: space-between;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(31,221,208);
    background: linear-gradient( rgba(31,221,208,0.5) 50%, rgba(0,212,255,0) 100%);
    border-radius: 15px;
}
.intro{
    padding: 20px;
    width: 350px;
}

.playPause {
    width: 80px; 
    padding:10px;
}
.gameboard {
    border-radius: 15px;
    margin: 0 0 0 50px;
    width: 530px;
    height: 600px;
    background-color: rgba(75, 146, 116, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}




/* arrange 16 cards in a 500 * 500 board */
/* card flipping part */

.memoryGame {
    margin: 15px;
    border-radius: 5px;
    width: 500px; 
    height: 500px; 
    background-color: transparent;
}

.card {
    width: 81px;
    height: 81px;
    margin: 15px;
    padding: 5px;
    position: relative;
    display: inline-block;
    border-radius: 3px;
    overflow: hidden;

}

.cardFace {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block; 
    perspective: 300px;
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.6s ease;
}
.card .back{
    background-color: pink;
}
.card .front {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card.turned {
    pointer-events: none;
}
.card.turned .front {
    transform: rotateY(0deg);
}
.card.turned .back {
    transform: rotateY(180deg);
}

.score {
    margin: 0;
    justify-self: left;
    color:white;
}


/* canvas game */
.canvasGame {
    width: 500px; 
    height: 500px; 
    margin: 15px;
    border: 1px solid pink;
}

div #playerImg{
    position:absolute;
    transform:translate(-50%,-50%);
    height:35px;
    width:35px;
  }

